*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


html, body {
  overflow-x: hidden;
  max-width: 1920px;
  min-width: 412px;
  margin: 0 auto;
}


.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/movie.jpg);
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 88%;
  margin: auto;
  padding: 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 250px;
  cursor: pointer;
  margin-left: -100px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height:3px;
  width:0%;
  background:#ffa31a;
  position:absolute;
  left:0;
  bottom:-10px;
  transition:0.5s;
}
.navbar ul li:hover::after{
  width:100%;
}
.content{
  position:absolute;
  width:100%;
  top:50%;
  transform: translateY(-50%);
  text-align:center;
  color:#fff;
}
.content h1{
  font-size:70px;
  margin-top:80px;
}
.content p{
  margin:20px auto;
  font-weight:100;
  line-height:25px;
}

button{
  width:220px;
  padding: 15px 0;
  text-align:center;
  margin: 28px 10px;
  border-radius:25px;
  font-weight:bold;
  border: 2px solid	#ffa31a;
  background: transparent;
  color:#fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background:	#ffa31a;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
/* 
button.first-btn {
  background: #ffa31a;
}

button.first-btn:hover {
  background: transparent;
  color: #fff;
} */


.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
  
}

.rowdies-bold{

  background: linear-gradient(to bottom,rgb(0, 0, 0), rgb(21, 21, 21)); 
  padding: 50px; 
  text-align: center;
  color: white;
  padding-left: 25px;
}

.featured-content {
  height: 60vh;
  padding: 50px;
  background: 
    linear-gradient(to top, rgba(0, 0, 0, 0), #151515),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url('images/deadpoolandwolverine.jpeg');
}

.featured-title {
  width: 400px;
  display: block;
  margin: 0 auto; 
}

.featured-button {
  width: 220px;
  padding: 15px 0;
  text-align: center;
  margin: 28px auto;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #ffa31a;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: block; 
}

button.featured-button:hover {
  background: #ffa31a;
}


.movie-list-container {
  padding: 0 30px;
  margin-right: 5vw;
}


.movie-list {
  display: flex;
  align-items: center;
  height: 350px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 2vw; 
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.1);
  margin: 0 18px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  height: auto; 
  aspect-ratio: 3 / 4; 
  width: 11.25vw; 
  object-fit: cover;
  border-radius: 2vw; 
}

.movie-list-item-title {
  background-color: transparent;
  padding: 0 0.5vw; 
  font-size: 1.2vw; 
  font-weight: bold;
  position: absolute;
  top: 5%; 
  left: 2vw;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-title {
  text-align: left;
  font-size: 2em;
}

.rowdies-bold1 {
  background: rgb(21, 21, 21);
  padding: 50px; 
  text-align: center;
  color: white;
  padding-left: 25px;
}

.featured-content2 {
  height: 60vh;
  padding: 50px;
  background: 
    linear-gradient(to top, rgba(0, 0, 0, 0), #151515),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url('images/tvshow.webp');
}

.featured-content3 {
  height: 60vh;
  padding: 50px;
  background: 
    linear-gradient(to top, rgba(0, 0, 0, 0), #151515),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url('images/doc.jpeg');
}

.featured-content4 {
  height: 60vh;
  padding: 50px;
  background: 
    linear-gradient(to top, rgba(0, 0, 0, 0), #151515),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url('images/anime.jpg');
}

.form-container{
  padding-top:30px;
  background-color: rgb(21, 21, 21)
}

form {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 600px; 
  height: 50px; 
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: block;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #ffa31a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  background: #ffa31a; 
  color: white; 
}

footer{
  background-color: #111;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}










@media (max-width: 928px) {
  .navbar{
    font-size: 10px;
  }
  .logo{
    width: 200px;
    cursor: pointer;
    margin-left: -40px;
  }
  .banner {
    background-size: 1500px;
    height: 800px;
  }
  .content h1 {
    font-size: 50px; 
  }
  .content{
    top:40% 
  }
  .movie-list-title {
    font-size: 1.5em;
  }
  .rowdies-bold {
    font-size: 1.5em; 
  }
  .movie-list-item-img {
    width: 13.2vw;
  }

  .movie-list-item:nth-last-child(1) {
    display: none;
  }
  
}

@media (max-width: 749px) {
  .navbar ul li:nth-child(3),
  .navbar ul li:nth-child(4)
  {
    display: none;
  }
  .logo{
    width: 200px;
    cursor: pointer;
    margin-left: -40px;
  }
  .content h1 {
    font-size: 40px; 
    margin-top:10px;
  }
  .content{
    font-size: 12px;
  }
  button {
    width: 150px; 
    padding: 10px 0; 
    margin: 20px 5px; 
    font-size: 0.9em; 
    border-radius: 20px;  
  }
  span {
    border-radius: 20px;
  }
  .banner {
    background-size: 1400px;
    height: 730px;
  }
  .rowdies-bold {
    font-size: 1.2em; 
  }
  .rowdies-bold1 {
    font-size: 1.2em; 
  }
  .featured-button{
    width: 180px; 
    padding: 10px 0; 
    margin: 20px auto; 
    font-size: 11px; 

  }
  .footerContainer {
    padding: 30px 15px 10px;
  }

  .socialIcons a {
    padding: 6px;
    margin: 6px;
  }

  .socialIcons a i {
    font-size: 1.5em;
  }

  .footerNav ul li a {
    font-size: 1em;
    margin: 10px;
  }

  .footerBottom p {
    font-size: 0.8em;
  }
  
}

@media (max-width: 469px){
  .navbar{
    font-size: 6.3px;
  }
}

@media (max-width: 1390px){
  .featured-content {
    background-position: calc(50% + 15vw) center; 
  }
}

@media (max-width: 900px){
  .featured-content {
    background-position: calc(50% + 20vw) center; 
  }
  .featured-content2 {
    background-position: calc(50% + 20vw) center;
  .featured-content3 {
    background-position: calc(50% + 20vw) center; 
  }
  .featured-content4 {
    background-position: calc(50% + 20vw) center; 
  }
}
}


@media (max-width: 666px) {
  .movie-list-item-img {
    width: 15.25vw;
  }

  .movie-list-item:nth-last-child(-n+2) {
    display: none;
  }
  .movie-list{
    margin-top: -45px; 
    margin-bottom: -45px;
  }
}

@media (max-width: 708px){
  form {
    
    width: 360px; 
    height: 40px; 
  }
  input{
    height: 35px; 
    font-size: 0.9em; 
    border-radius: 15px; 
    padding: 0 15px; 
  }
  .fa {
    box-sizing: border-box;
    padding: 8px; 
    width: 35px; 
    height: 35px; 
    font-size: 1em;
  }
}

@media (max-width: 636px){
  .featured-title {
    width: 80%;
    margin-right: 25px;
  }
}

